:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --maincolor:#552981;  /*gradient 2 */
    --boxcolor:#f8d900; /*outline*/
    --darkmain:#262253; /* card color, gradient 1 */
    --lightmain:#745cb5; /* gradient 2 */
    --text:#ffff
    /* colors are here for code to default to dark mode */
  }
.darktheme{
    --maincolor:#552981;  /*gradient 2 */
    --boxcolor:#f8d900; /*outline*/
    --darkmain:#262253; /* card color, gradient 1 */
    --lightmain:#745cb5; /* gradient 2 */
    --text:#ffff
    }
.lighttheme{
    --maincolor:#a095e3;  /*gradient 2 */
    --boxcolor: #9bee06; /*outline*/
    --darkmain:#8766d7; /* card color, gradient 1 */
    --lightmain:#e5c9ff; /* gradient 2 */
    --text:#ffff

}

/* learn prefers color scheme */