:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --maincolor:#693cd2;
    --boxcolor:#CDDC39;
    --darkmain:#673AB7;
    --lightmain:#D1C4E9;
    --text:#ffff
  }
.darktheme{
    --maincolor:#9c27b0;
    --boxcolor:#1d36b3;
    --darkmain:#7b1fa2;
    --lightmain:#E1BEE7;
    --text:#ffff
    }
.lighttheme{
    --maincolor:#FFC107;
    --boxcolor:#CDDC39;
    --darkmain: #FFA000;
    --lightmain:#FFECB3;
    --text:#010101

}

/* learn prefers color scheme */